/* Applies to everything */
.root{
    -fx-font-family: "Liberation Sans Narrow";
    -fx-base: rgb(80, 90, 100);
    -fx-accent: rgb(10, 90, 255);
    -fx-background-color: linear-gradient(white, derive(-fx-base, 80%));
}


